In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [2]:
#plotting
import matplotlib.pyplot as plt
import seaborn as sns


#linear algebra
import numpy as np

#data processing
import pandas as pd

#splitting data
from sklearn.model_selection import train_test_split

#scaling
from sklearn.preprocessing import StandardScaler

#tuning
from sklearn.model_selection import RandomizedSearchCV

#model evaluation
from sklearn import metrics

In [3]:
df = pd.read_csv("C:\\Users\\antho\\OneDrive\\Desktop\\ClassDiabetesDataSet.csv")

In [4]:
print(df)

       race  gender  age  admission_type_id  discharge_disposition_id  \
0         3       1    5                  6                        25
1         3       1   15                  1                         1
2         1       1   25                  1                         1
3         3       2   35                  1                         1
4         3       2   45                  1                         1
...     ...     ...  ...                ...                       ...
65529     3       1   65                  1                         1
65530     3       1   75                  1                         3
65531     1       1   75                  1                         1
65532     3       1   85                  1                         1
65533     3       2   55                  3                         1

       admission_source_id  time_in_hospital  num_lab_procedures  \
0                        1                 1                  41
1                        7                 3                  59
2                        7                 2                  11
3                        7                 2                  44
4                        7                 1                  51
...                    ...               ...                 ...
65529                    7                13                  46
65530                    7                12                  44
65531                    1                 1                  21
65532                    7                 2                  20
65533                    7                 1                  34

       num_procedures  num_medications  ...  number_inpatient  diag_1  diag_2  \
0                   0                1  ...                 0  250.83    0.00
1                   0               18  ...                 0  276.00  250.01
2                   5               13  ...                 1  648.00  250.00
3                   1               16  ...                 0    8.00  250.43
4                   0                8  ...                 0  197.00  157.00
...               ...              ...  ...               ...     ...     ...
65529               2               23  ...                 0  427.00  427.00
65530               1               35  ...                 0  812.00  424.00
65531               0                8  ...                 0  786.00  427.00
65532               0               14  ...                 0  996.00   43.00
65533               0                7  ...                 0    8.00  276.00

       diag_3  number_diagnoses  max_glu_serum  A1Cresult  2ange  diabetesMed  \
0         0.0                 1              0        0.0      1            0
1       255.0                 9              0        0.0      2            1
2        27.0                 6              0        0.0      1            1
3       403.0                 7              0        0.0      2            1
4       250.0                 5              0        0.0      2            1
...       ...               ...            ...        ...    ...          ...
65529    70.0                 9              0        0.0      2            1
65530   888.0                 9              0        7.0      3            1
65531   401.0                 7              0        0.0      3            0
65532   250.0                 9              0        0.0      3            1
65533   250.0                 5              0        0.0      3            0

       readmitted
0               0
1               2
2               0
3               0
4               0
...           ...
65529           0
65530           0
65531           0
65532           2
65533           0

[65534 rows x 22 columns]

In [5]:
X = df.drop(['diabetesMed'], axis = 1)
y = df.pop('diabetesMed')

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [7]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      65534 non-null  int64
 1   gender                    65534 non-null  int64
 2   age                       65534 non-null  int64
 3   admission_type_id         65534 non-null  int64
 4   discharge_disposition_id  65534 non-null  int64
 5   admission_source_id       65534 non-null  int64
 6   time_in_hospital          65534 non-null  int64
 7   num_lab_procedures        65534 non-null  int64
 8   num_procedures            65534 non-null  int64
 9   num_medications           65534 non-null  int64
 10  number_outpatient         65534 non-null  int64
 11  number_emergency          65534 non-null  int64
 12  number_inpatient          65534 non-null  int64
 13  diag_1                    65534 non-null  float64
 14  diag_2                    65534 non-null  float64
 15  diag_3                    65534 non-null  float64
 16  number_diagnoses          65534 non-null  int64
 17  max_glu_serum             65534 non-null  int64
 18  A1Cresult                 65534 non-null  float64
 19  2ange                     65534 non-null  int64
 20  readmitted                65534 non-null  int64
dtypes: float64(4), int64(17)
memory usage: 10.5 MB

In [9]:
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,2ange,readmitted
0,3,1,5,6,25,1,1,41,0,1,...,0,0,250.83,0.00,0.0,1,0,0.0,1,0
1,3,1,15,1,1,7,3,59,0,18,...,0,0,276.00,250.01,255.0,9,0,0.0,2,2
2,1,1,25,1,1,7,2,11,5,13,...,0,1,648.00,250.00,27.0,6,0,0.0,1,0
3,3,2,35,1,1,7,2,44,1,16,...,0,0,8.00,250.43,403.0,7,0,0.0,2,0
4,3,2,45,1,1,7,1,51,0,8,...,0,0,197.00,157.00,250.0,5,0,0.0,2,0

In [10]:
df.describe()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,2ange,readmitted
count,65534.000000,65534.00000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,...,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000
mean,2.643071,1.45912,65.297861,2.158971,4.080782,5.940153,4.521424,42.701300,1.344798,15.597247,...,0.145955,0.603549,484.473731,425.555032,395.467881,7.091693,0.126331,1.100996,1.462294,0.829508
std,0.992426,0.49836,16.111548,1.554899,5.787255,4.511085,3.058141,19.088519,1.677121,8.190287,...,0.656903,1.218332,212.465927,187.567415,198.308169,2.002204,0.496445,2.613369,0.532501,0.925861
min,1.000000,1.00000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,3.000000,1.00000,55.000000,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,...,0.000000,0.000000,403.000000,276.000000,250.400000,5.000000,0.000000,0.000000,1.000000,0.000000
50%,3.000000,1.00000,65.000000,2.000000,1.000000,7.000000,4.000000,44.000000,1.000000,14.000000,...,0.000000,0.000000,434.000000,414.000000,401.000000,8.000000,0.000000,0.000000,1.000000,0.000000
75%,3.000000,2.00000,75.000000,3.000000,5.000000,7.000000,6.000000,56.000000,2.000000,19.000000,...,0.000000,1.000000,592.000000,496.000000,493.000000,9.000000,0.000000,0.000000,2.000000,2.000000
max,6.000000,3.00000,95.000000,8.000000,28.000000,20.000000,14.000000,129.000000,6.000000,81.000000,...,42.000000,21.000000,999.000000,999.000000,999.000000,9.000000,3.000000,8.000000,3.000000,2.000000

## Linear Discriminant Analysis

In [11]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

LDA = LinearDiscriminantAnalysis(solver='svd')

# fit the model
LDA.fit(X_train, y_train)

y_predict_LDA = LDA.predict(X_test)

# model score
predict_train_LDA = LDA.predict(X_train)
predict_test_LDA = LDA.predict(X_test)

#accuracy score
LDA_train_score = LDA.score(X_train,y_train)
LDA_test_score = LDA.score(X_test,y_test)

#f1-score
LDA_f1_score = metrics.f1_score(y_test,predict_test_LDA)
LDA_recall = metrics.recall_score(y_test, predict_test_LDA)

print('Accuracy on Train set',LDA_train_score)
print('Accuracy on Test set',LDA_test_score)
print('F1-score on Test set:',LDA_f1_score)
print(metrics.classification_report(y_test, predict_test_LDA))

Accuracy on Train set 0.7681860789571208
Accuracy on Test set 0.7702558364274452
F1-score on Test set: 0.8612160875042246
              precision    recall  f1-score   support

           0       0.58      0.23      0.33      4814
           1       0.79      0.94      0.86     14847

    accuracy                           0.77     19661
   macro avg       0.68      0.59      0.60     19661
weighted avg       0.74      0.77      0.73     19661

## Naive Bayes

In [12]:
from sklearn.naive_bayes import GaussianNB

NB_model = GaussianNB()

# fit the model
NB_model.fit(X_train, y_train)

y_predict_NB = NB_model.predict(X_test)

# model score
predict_train_NB = NB_model.predict(X_train)
predict_test_NB = NB_model.predict(X_test)

# accuracy score
NB_train_score = NB_model.score(X_train,y_train)
NB_test_score = NB_model.score(X_test,y_test)

# f1-score
NB_f1_score = metrics.f1_score(y_test,predict_test_NB)
NB_recall = metrics.recall_score(y_test, predict_test_NB)

print('Accuracy on Train set',NB_train_score)
print('Accuracy on Test set',NB_test_score)
print('F1-score on Test set:',NB_f1_score)
print(metrics.classification_report(y_test, predict_test_NB))

Accuracy on Train set 0.7182874457742027
Accuracy on Test set 0.7214282081277656
F1-score on Test set: 0.794815120068932
              precision    recall  f1-score   support

           0       0.46      0.74      0.57      4814
           1       0.90      0.71      0.79     14847

    accuracy                           0.72     19661
   macro avg       0.68      0.73      0.68     19661
weighted avg       0.79      0.72      0.74     19661

## Logistic Regression

In [13]:
from sklearn.linear_model import LogisticRegression

LR_model = LogisticRegression(max_iter=2000)

# fit the model
LR_model.fit(X_train, y_train)

y_predict_LR = LR_model.predict(X_test)

# model score
predict_train_LR = LR_model.predict(X_train)
predict_test_LR = LR_model.predict(X_test)

# accuracy score
LR_train_score = LR_model.score(X_train,y_train)
LR_test_score = LR_model.score(X_test,y_test)

# f1-score
LR_f1_score = metrics.f1_score(y_test,predict_test_LR)
LR_recall = metrics.recall_score(y_test,predict_test_LR)

print('Accuracy on Train set',LR_train_score)
print('Accuracy on Test set',LR_test_score)
print('F1-score on Test set:',LR_f1_score)
print(metrics.classification_report(y_test, predict_test_LR))

Accuracy on Train set 0.7686220652671506
Accuracy on Test set 0.7713239407965007
F1-score on Test set: 0.8609943111550827
              precision    recall  f1-score   support

           0       0.57      0.26      0.36      4814
           1       0.80      0.94      0.86     14847

    accuracy                           0.77     19661
   macro avg       0.68      0.60      0.61     19661
weighted avg       0.74      0.77      0.74     19661

## Decision Tree

In [14]:
from sklearn.tree import DecisionTreeClassifier

DT_model= DecisionTreeClassifier()

# fit the model
DT_model.fit(X_train,y_train)

# model score
predict_train_DT = DT_model.predict(X_train)
predict_test_DT = DT_model.predict(X_test)

# accuracy score
DT_train_score = DT_model.score(X_train,y_train)
DT_test_score = DT_model.score(X_test,y_test)

# f1-score
DT_f1_score = metrics.f1_score(y_test, predict_test_DT)

print('Accuracy on Train set',DT_train_score)
print('Accuracy on Test set',DT_test_score)
print('F1-score on Test set:',DT_f1_score)
print('\n')
print(metrics.classification_report(y_test, predict_test_DT))

Accuracy on Train set 1.0
Accuracy on Test set 0.7372463252123493
F1-score on Test set: 0.8250237095244547


              precision    recall  f1-score   support

           0       0.46      0.48      0.47      4814
           1       0.83      0.82      0.83     14847

    accuracy                           0.74     19661
   macro avg       0.65      0.65      0.65     19661
weighted avg       0.74      0.74      0.74     19661

## Random Forest

In [15]:
from sklearn.ensemble import RandomForestClassifier

# create object model
RF_model = RandomForestClassifier()

# fit the model
RF_model.fit(X_train,y_train)

# model score
predict_train_RF = RF_model.predict(X_train)
predict_test_RF = RF_model.predict(X_test)

# accuracy score
RF_train_score = RF_model.score(X_train,y_train)
RF_test_score = RF_model.score(X_test,y_test)

# f1-score
RF_f1_score = metrics.f1_score(y_test,predict_test_RF)

print('Accuracy on Train set',RF_train_score)
print('Accuracy on Test set',RF_test_score)
print('F1-score on Test set:',RF_f1_score)
print(metrics.classification_report(y_test,predict_test_RF))

Accuracy on Train set 1.0
Accuracy on Test set 0.7750368750317889
F1-score on Test set: 0.8586133043506058
              precision    recall  f1-score   support

           0       0.56      0.38      0.45      4814
           1       0.82      0.90      0.86     14847

    accuracy                           0.78     19661
   macro avg       0.69      0.64      0.65     19661
weighted avg       0.75      0.78      0.76     19661

## Tuning Decision Tree

In [16]:
from sklearn.model_selection import GridSearchCV

#"""
parameters= {'max_depth':[7,10],
            'max_features':[4,5,6],
            'min_samples_split' : [90,100],
            'min_samples_leaf' : [20,30]}


DT = RandomForestClassifier()

DT_model_tune = GridSearchCV(DT, param_grid = parameters, cv=3)

DT_model_tune.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [7, 10], 'max_features': [4, 5, 6],
                         'min_samples_leaf': [20, 30],
                         'min_samples_split': [90, 100]})

In [17]:
DT_model_tune.best_params_

{'max_depth': 10,
 'max_features': 6,
 'min_samples_leaf': 30,
 'min_samples_split': 90}

In [18]:
DT_model_tune= DecisionTreeClassifier(min_samples_split=90,min_samples_leaf= 20,
 max_features= 6,max_depth=10)

# fit the model
DT_model_tune.fit(X_train,y_train)

# model score
predict_train_DT = DT_model_tune.predict(X_train)
predict_test_DT = DT_model_tune.predict(X_test)

# accuracy score
DT_train_score = DT_model_tune.score(X_train,y_train)
DT_test_score = DT_model_tune.score(X_test,y_test)

# f1-score
DT_f1_score = metrics.f1_score(y_test, predict_test_DT)
DT_recall = metrics.recall_score(y_test, predict_test_DT)

print('Accuracy on Train set',DT_train_score)
print('Accuracy on Test set',DT_test_score)
print('F1-score on Test set:',DT_f1_score)
print('\n')
print(metrics.classification_report(y_test, predict_test_DT))

Accuracy on Train set 0.7780829681947987
Accuracy on Test set 0.760083413865012
F1-score on Test set: 0.85018262664761


              precision    recall  f1-score   support

           0       0.52      0.32      0.40      4814
           1       0.80      0.90      0.85     14847

    accuracy                           0.76     19661
   macro avg       0.66      0.61      0.62     19661
weighted avg       0.73      0.76      0.74     19661

## Model Comparison

In [21]:
model_compare = pd.DataFrame({
    
'Models':['Decision Tree','LogisticRegression','LinearDiscriminantAnalysis','Naive_Bayes'],
'f1_score':[DT_f1_score, LR_f1_score, LDA_f1_score, NB_f1_score],
'recall':[DT_recall, LR_recall, LDA_recall, NB_recall],
'Accuracy on train set':[DT_train_score,LR_train_score,LDA_train_score,NB_train_score],
'Accuracy on test set':[DT_test_score, LR_test_score,LDA_test_score,NB_test_score]

})

model_compare = model_compare.sort_values('recall',ascending=False)

In [22]:
# print out comparison in 'Blues' or 'Greens' or 'Greys'
model_compare.style.background_gradient(cmap='Greens')